jinja2
markupsafe
werkzeug
click
blinker
itsdangerous
certifi
greenlet
idna
urllib3
sqlalchemy
flask
requests
flask-sqlalchemy
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability